/.vscode
/node_modules
/.pnp.js
/.pnp.cjs
.DS_Store
*.log
build/
coverage/
dist/
.idea/
.vscode/
*.local
*.lock
yarn-error.log
.pnpm-debug.log*
.cache/
.next/
out/
.nuxt/
dist/
.cache/
.cache/public
.snowpack/
.web_modules/
.parcel-cache/
.env
.env.*.local
*.tsbuildinfo